<form *ngIf="form" [formGroup]="form" (submit)="register()">
    <div class="register-main">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Register</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input formControlName="firstName" matInput  />
                    <mat-error *ngIf="hasError('firstName', 'required')">
                        First Name is required
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" matInput  />
                    <mat-error *ngIf="hasError('lastName', 'required')">
                        First Name is required
                    </mat-error>                    
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput  />
                    <mat-error *ngIf="hasError('email', 'required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">
                        Email is invalid
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput />
                    <mat-error *ngIf="hasError('password', 'required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" type="password" matInput />
                    <mat-error *ngIf="hasError('confirmPassword', 'required')">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="hasError('confirmPassword', 'confirmedValidator')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
                <br />                                
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" [disabled]="!form.valid">
                    Register
                    <img *ngIf="loading" src="assets/img/spinner.gif" />
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</form>
