<div class="page-container">
    <header>
        <div>
            <button mat-button class="menu-button" (click)="sidenav.toggle()">
                <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
            </button>

            <a routerLink="/">
                <span class="app-title">ReadTrack</span>
            </a>
        </div>
    </header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
            <a mat-button routerLink="/dashboard">Dashboard</a>
            <a mat-button routerLink="/books">Books</a>
            <a mat-button routerLink="/profile">Profile</a>
            <a mat-button (click)="logout()">Log Out</a>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>





