<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReadTrack.Web.Mvc</title>
    <script type="importmap"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      
    <!-- Local Materialize CSS via LibMan -->
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="~/ReadTrack.Web.Mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Local Materialize JS via LibMan -->
    <script src="~/lib/materialize/js/materialize.min.js"></script>    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
