<form *ngIf="form" [formGroup]="form" (submit)="login()">
    <div class="login-main">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Please Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput  />
                    <mat-error *ngIf="hasError('email', 'required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">
                        Email is invalid
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput />
                    <mat-error *ngIf="hasError('password', 'required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="form.hasError('loginFailed')">
                    Username or password is invalid
                </mat-error>
                <br />
                <a [routerLink]="['/register']">Register</a>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" [disabled]="!form.valid">
                    Login
                    <img *ngIf="loading" src="assets/img/spinner.gif" />
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</form>
