@inherits LayoutComponentBase

<MatDrawerContainer Style="width: 100vw; height: 100vh;">
    <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
        DrawerContainer
    </MatDrawer>
    <MatDrawerContent>
        <div>
            <MatButton OnClick="ButtonClicked">Open Menu</MatButton>
        </div>
        <p>
            @Body     
        </p>
    </MatDrawerContent>
</MatDrawerContainer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
