@{
    ViewData["Title"] = "Login";
}


<form>
    <div class="login-main">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Please Login</span>
                <div class="input-field">
                    <input id="email" type="email" class="validate"  />
                    <label for="email">Email</label>                    
                    @*<mat-error *ngIf="hasError('email', 'required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">
                        Email is invalid
                    </mat-error>*@
                </div>
                
                <div class="input-field">
                    <input id="password" type="password" class="validate" />
                    <label for="password">Password</label>
                    @*<mat-error *ngIf="hasError('password', 'required')">
                        Password is required
                    </mat-error>*@
                </div>
                @*<mat-error *ngIf="form.hasError('loginFailed')">
                    Username or password is invalid
                </mat-error>*@
                <br />
                <a [routerLink]="['/register']">Register</a>
            </div>
            <div class="card-action" align="end">
                <button class="waves-effect waves-light btn" type="submit">
                    Login
                    @*<img *ngIf="loading" src="~/img/spinner.gif" />*@
                </button>
            </div>
        </div>
    </div>
</form>
