@page "/login"

<EditForm Model="authRequest" FormName="Login" OnValidSubmit="HandleLogin">
    <div class="login-main">
        <MatCard>
            <MatHeadline6>Please Login</MatHeadline6>            
            <MatCardContent>
                <p>
                    <MatTextField @bind-Value="@authRequest.Email" Label="Email" />
                </p>
                <p> 
                    <MatTextField @bind-Value="@authRequest.Password" Label="Password" />
                </p>                
                <a [routerLink]="['/register']">Register</a>
            </MatCardContent>
            <MatCardActions align="end">
                <MatCardActionButtons>
                    <MatButton Type="submit" Name="action">
                        Login
                        @*<img *ngIf="loading" src="assets/img/spinner.gif" />*@
                    </MatButton>
                </MatCardActionButtons>
            </MatCardActions>
        </MatCard>
    </div>
</EditForm>
